@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Demo program for learning, <b><u>&quot;Run Dot net project on Docker&quot;</u></b></p>
    <b>git hub: <a href="https://github.com/DattaAnupam/Dot-Net-On-Docker-Demo"
            target="_blank">Dot-Net-On-Docker-Demo</a></b>
</div>
<div class="text-center">
    <p>To Run the code with Visual Studio code &#45;</p>
    <p>type <code>dotnet watch</code> and hit <code>enter</code></p>
</div>
